@inherits LayoutComponentBase
@using CS_Emerios_API_Tracker.Helper
@attribute [Authorize]

<MudThemeProvider  />
<MudDialogProvider FullWidth="true" />
<MudSnackbarProvider />



<PageTitle>CS-Emerios-API-Tracker</PageTitle>

<MudLayout Class="main-body">
    <MudAppBar Elevation="1" Fixed="true" >
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" Color="Color.Inherit" OnClick="@ToggleDrawer" />
        <MudSpacer />

        <MudMenu Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Variant="Variant.Text">
            <ActivatorContent>
                <MudAvatar Size="Size.Medium" Color="Color.Inherit">
                    <MudIcon Icon="@Icons.Material.Filled.People" ></MudIcon>
                </MudAvatar>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="LogOutAction">Log Out</MudMenuItem>
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Elevation="1" PreserveOpenState="true">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5">Emerios Tracker</MudText>
        </MudDrawerHeader>
        <NavMenu></NavMenu>
    </MudDrawer>
    <MudMainContent Style="height:100vh;">
        <div class="pb-16 pl-4 pr-4 pt-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<style> 
    .main-body{
        background: #F9FAFC;
    }
    
</style>

@code{

    bool open = false;

    [Inject]
    public AuthenticationStateProvider _authStateProvider { get; set; }

    void ToggleDrawer()
    {
        open = !open;
    }

    private async Task LogOutAction()
    {
        //Clean Storage
        var stateProv = (CustomAuthenticationStateProvider)_authStateProvider;
        await stateProv.UpdateAuthenticationState(null);
        StateHasChanged();
    }
}