@*Must be inside the "CascadingAuthenticationState" to take effect the Authorization to all the pages*@
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @*Must be in "AuthorizeRouteView"" to be authorized*@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(LoginLayout)">
               <NotAuthorized>
                    <RedirectToLogin></RedirectToLogin>
                </NotAuthorized>
                  <Authorizing>
                    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Style="height:100vh;">
                        <MudProgressCircular Indeterminate=true Size="Size.Large" Color="Color.Primary">

                        </MudProgressCircular>
                    </MudStack>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(LoginLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
